body {
  margin: 0;
}

hr {
  margin: 10px 0;
}

/* Cabeçalho */
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-header-logo {
  width: 60px;
}

#trybewarts-header-title {
  color: white;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

#email {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

#password {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 10px;
}

#enter-button {
  background-color: rgb(78, 44, 131);
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: 600;
}

/* Conteúdo */
#main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(239, 239, 239);
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  flex-basis: 675px;
}

/* Primeira parte do conteúdo: título, nome, email e casa */
#title-forms {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

#section-full-name {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  height: 35px;
}

#input-name {
  display: flex;
  flex-grow: 1;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

#input-lastname {
  display: flex;
  flex-grow: 1;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 10px;
}

#section-house-email {
  display: flex;
  justify-content: center;
  height: 35px;
}

#title-house {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;
}

#input-email {
  display: flex;
  flex-grow: 1;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

#house {
  display: flex;
  flex-grow: 1;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 5px;
}

/* Segunda parte do conteúdo: família e conteúdo */
#section-family {
  display: flex;
  flex-direction: column;
}

#label-family {
  margin: 0 0 5px;
}

#label-content {
  margin: 10px 0 5px;
}

/* Terceira parte do conteúdo: avaliação, comentário e agreement */
#section-rate {
  display: flex;
  align-items: center;
}

#label-rate {
  margin: 0;
}

.textarea {
  margin-bottom: 5px;
}

#textarea {
  display: flex;
  width: 675px;
  height: 100px;
  resize: none;
}

#counter {
  text-align: center;
}

#submit-btn {
  margin: 10px 0;
  width: 675px;
  background-color: rgb(177, 152, 217);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
}

/* Logo */
#trybewarts-forms-logo {
  height: 500px;
}

/* Rodapé */
footer {
  background-color: rgb(60, 64, 74);
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}
