.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

#forms {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  flex-basis: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}
